<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name ="GameMasters" connectionString="Server=LINDI\SQLEXPRESS01;Database=Gamemasters;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name ="Northwind" connectionString="Server=LINDI\SQLEXPRESS01;Database=Northwind;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>